
<header>    
    <div class="header-container">
        <div class="logo  imglogo">
          <a href="#"><img src="logo2.jpg" alt="E-Shop" height="100" width="100" ></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search for products...">
            <button type="submit"><i class="bi bi-search"></i></button>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a [routerLink]="['/UserHome/Client/homePage']" routerLinkActive="router-link-active" >Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a [routerLink]="['/UserHome/Client/Wishlist']">Wishlist</a></li>
            </ul>
        </nav>
        <div class="header-icons">
            <a  [routerLink]="['/UserHome/Client/AddToCart']"><i class="bi bi-cart"></i><span class="cart-count">3</span></a>
            
            <div class="dropdown">
                <a class="dropdown-button">
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <div class="dropdown-content">
                  <a [routerLink]="['/UserHome/auth/login']"><i class="bi bi-plus"></i>Supplier Login</a>
                  <a [routerLink]="['/UserHome/AddSupplier']"><i class="bi bi-plus"></i>Add As supplier</a>
                  @if(!Token)
                  { 
                      <a  [routerLink]="['/UserHome/auth/login']" ><i class="bi bi-person"></i>Login</a>
                      <a  [routerLink]="['/UserHome/auth/UserRegister']" ><i class="bi bi-person"></i>Register</a>
                  }
                </div>
              </div>
            
        </div>
    </div>
</header>

