<div class="cart-container">
    <h2 class="cart-title">{{UserTokenData.Name}} Shopping Cart</h2>
    @if (!isloding)
    {
    <div class="cart-items">
      <mat-card class="cart-item" *ngFor="let item of cartItems; let i = index">
        <div class="item-content">
          <!-- Product Image -->
          <img class="item-image" mat-card-image [src]="item.product.productImage[0].productImag" alt="{{ item.productName }}">
  
          <!-- Product Details -->
          <div class="item-details">
            <h3 class="item-name">{{ item.product.productName }}</h3>
            <p class="item-description">{{ item.product.productDesc }}</p>
            <p class="item-serving">Offer Price {{item.product.productActualprice }} <span class="original-price">({{  item.product.productOrignalprice }})</span></p>
          </div>
  
          <!-- Quantity Controls -->
          <div class="quantity-controls">
            <button mat-icon-button color="primary" (click)="decreaseQuantity(i)">
              <mat-icon>remove</mat-icon>
            </button>
            <span class="quantity">{{ item.quantity }}</span>
            <button mat-icon-button color="primary" (click)="increaseQuantity(i)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
  
          <!-- Delete Button -->
          <button mat-icon-button color="warn" (click)="removeItem(item.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
      <div class="Total">
      <mat-card>
        <h3>Total Summary</h3>
        <p>Total Amount: {{ totalAmount }}</p>
        <p>Discount: {{ discount }}</p>
        <p>Final Price: {{ finalPrice }}</p>
      </mat-card>
      <button mat-button color="warn"  [routerLink]="['/UserHome/Checkout']">checkout</button>
    </div>
    </div>
  }
  @if(isloding){ 
    <app-loder></app-loder>
    }
  </div>
  