

<div class="app-main__outer"> 
    <div class="app-main__inner">
      <div>
        @if (isloding==false)
        {
        <h2>Inventory Details</h2>
        <div class="open-model"><button mat-raised-button (click)="AddInventory()">Add Inventory</button></div>
        <table  mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
               class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="Product Image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
              Product Image
            </th>
            <td mat-cell *matCellDef="let element"> 
              <ng-container *ngFor="let image of element.products.productImage">
                <img [src]="image.productImag" alt="Product Image" style="width: 150px; height: auto; margin-right: 5px;">
              </ng-container> </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="Product Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
              Product Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.products?.productName}} 11111</td>
          </ng-container>
        
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Quantity
            </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="warehouse Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Warehouse Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.warehouse?.warehouseName}} </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Location
            </th>
            <td mat-cell *matCellDef="let element"> {{element.warehouse?.location}} </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
              Action
            </th>
            <td mat-cell *matCellDef="let element"><i class="bi bi-pencil-fill" (click)="AddInventory(element.id)"></i>&nbsp; &nbsp; &nbsp;<i class="bi bi-trash-fill" (click)="DeleteInventory(element.id)"></i></td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons> 
        </mat-paginator>
        } 
        @if(isloding){ 
        <app-loder></app-loder>
        }    
        </div>
        
   </div> 
  </div>
  