
<section class="login">
    <div class="login_box">
        <div class="left">
            
            <div class="contact">
                <form [formGroup]="productForm">
                    <h1 class="Dialog-Title">Add Product</h1><h1 style="display: flex; justify-content: end;"><i class="bi bi-x" (click)="CloseAddProductDailog()"></i></h1>
                  
                    <input type="text" formControlName="ProductName" placeholder="Product Name">
                    <input type="text" formControlName="ProductDesc" placeholder="Product Description">
                    <input type="number" formControlName="ProductOrignalprice" placeholder="Original Price">
                    <input type="number" formControlName="ProductActualprice" placeholder="Actual Price">
                    
                    <div formArrayName="ProductImages">
                      <div *ngFor="let image of productImages.controls; let i = index" [formGroupName]="i">
                        <input type="file" formControlName="file" placeholder="Product Image">
                      </div>
                    </div>
                  
                    <button class="AddFile submit" type="button" (click)="addFileInput()">+ Add Another Image</button><br /><br />
                  
                    <select formControlName="SupplierId">
                      <option value="" disabled selected>Select Supplier</option>
                      <option *ngFor="let supplier of supplierData" [value]="supplier.id">
                        {{ supplier.companyName }}
                      </option>
                    </select>
                  
                    <div class="button-container">
                      <button class="submit" type="submit" (click)="AddProduct()">Add Product</button>
                      <button class="submit" type="button" (click)="CloseAddProductDailog()">Close</button>
                  </div>
                  </form>
            </div>
        </div>
    </div>
</section>
